.btn{box-sizing: border-box;

position: absolute;
width: 452px;
height: 315px;
left: 119px;
top: 79px;

background: #E45151;
border: 18px solid #000000;
border-radius: 153px;}
.btn:hover{box-sizing: border-box;

position: absolute;
width: 820px;
height: 615px;
left: 119px;
top: 79px;

background: #E45151;
border: 18px solid #000000;
border-radius: 153px;}